<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MPMMODELRUANGAN.Properties.Settings.MPMHRGAConnectionString"
            connectionString="Data Source=10.10.108.49;Initial Catalog=MPMHRGA;User ID=appreader;Password=Simpang4244"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>