
<footer class="bg-primary py-3 bottom-0 left-0 w-100 mt-5">
    <div class="text-center text-light fw-medium">
        MPM Distributor &copy;
        <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
    </div>
</footer>